@import '../../styles/variables'

.portfolio
    position: relative
    &::after
        position: absolute
        bottom: 0%
        left: 50%
        width: 3px
        background: var(--main-color)
        content: ''
        height: 00px
        transition: height 2s linear
        transform: translate(-50%,50%)
        z-index: 1
    &::before
        position: absolute
        z-index: 2
        bottom: -50px
        left: 50%
        width: 11px
        background: var(--color-text)
        content: ''
        height: 11px
        border-radius: 50%
        display: flex
        transform: translate(-50%,50%)

.portfolio_works_container
    .nav_btns
        font-family: $sec-font
        font-size: 1.5rem
        display: flex
        justify-content: space-between
        .prev_work_btn,
        .next_work_btn
            border: 0
            outline: none
            display: inline-flex
            align-items: center
            background: transparent
            padding: 0
            color: var(--color-text)
            svg
                color: var(--main-color)
                font-size: 3rem
            &:disabled
                visibility: hidden
                user-select: none
                cursor: not-allowed
.slider_toggle
    display: flex
    align-items: center
    span
        margin: 0 1rem
    svg
        font-size: 24px
    input
        all: unset
        width: 35px
        height: 12.5px
        border-radius: 1000px
        border: 1px solid var(--main-color)
        border-color: $text-grey
        background: $text-grey
        position: relative
        transition: all linear .3s
        &:checked
            background: var(--main-color-trans)
            border-color: var(--main-color-trans)
        &::after
            content: ''
            position: absolute
            width: 20px
            height: 20px
            box-shadow: 1px 1px 5px #0000008a
            top: 50%
            transform: translateY(-50%)
            border-radius: 50%
            background: var(--color-text)
            left: -1px
            transition: all linear .3s
        &:checked
            &::after
                // left: -1px
                left: calc(100% - 20px)
                // transform: translateX(-50%)
                // right: -1px
                background: var(--main-color)
.fixed
    z-index: 10
    position: absolute
    right: 0
    top: 50%
    transform: translateY(-50%)
    writing-mode: tb