@import './variables'
body
    font-family: $main-font
    font-weight: $font-weight
    font-size: $f-size
    position: relative
    background-color: var(--color-page-background)
    color: var(--color-text)
ul
    padding: 0
    margin: 0
    list-style: none
a
    text-decoration: none
.animated-connect-line
      z-index: -1
      width: 50%
      position: absolute
      left: 0
      top: 50% !important
      svg
        user-select: none
        width: 102.25%
        .curved-line
          stroke: var(--main-color) !important
          stroke-dasharray: 1000
          stroke-dashoffset: 1000
          transition: stroke-dashoffset linear 2s
        .circle
          fill: var(--color-text)
        .shadow-circle
          fill: var(--main-color-trans)
.animated-connect-line.aos-animate
  svg
    .curved-line
      stroke-dashoffset: 0 !important
.animated-right
  right: 12px
  left: auto
  svg
    transform: rotateY(180deg)
::-webkit-scrollbar 
  width: 10px
::-webkit-scrollbar-track 
  background: var(--color-page-background)
::-webkit-scrollbar-thumb 
  background: var(--main-color)
.aos-animate
  .sec-title
    &::after
      width: 100px !important
.sec-title.aos-animate
  &::after
    width: 100px !important
.sec-title
    margin-bottom: 2.5rem
    display: flex
    align-items: center
    font-family: $sec-font
    font-size: $md-font-size
    position: relative
    &::after
        content: ''
        width: 0px
        height: 2px
        background: $text-grey
        margin-left: 2rem
        transition: width linear 2s
    span
        font-size: 4rem
        margin-right: 1rem
        color: var(--main-color)
        line-height: 0
section
    .heading
        text-align: center
    .section-heading
        text-align: center
        font-family: $sec-font
        font-size: $heading-size !important
        position: relative
        display: inline-flex
        justify-content: center
        align-items: center
        &::before,
        &::after
            font-weight: normal
            font-family: $main-font
            font-size: $f-size
            left: -2rem
            position: absolute
            color: $text-grey
        &::after
            top: 0
            content: '<h2>'
        &::before
            content: '</h2>'
            left: auto
            right: -2rem
            bottom: 0
.container
  max-width: 1440px
  padding-right: 15px
  padding-left: 15px
@media screen  and (min-width: 1200px)
    .container 
      width: 100%
      padding-left: 65px
      padding-right: 65px
@media screen and (max-width: 767px)
  .sec-title
    font-size: 1.6rem !important
    &::after
        display: none
    span
        font-size: 2.5rem !important
        margin-right: .5rem
@media screen and (max-width: 575px)
  section
    .section-heading
        font-size: 2.5rem !important
        &::before,
        &::after
            left: -1rem
        &::before
            left: auto
            right: -1rem
            bottom: 0
